@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50PX 240PX;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
    list-style: none;
}
nav li a{
    text-decoration: none;
    margin-left: 30px;
    color: var(--Dark-02, #424242);
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 144.444% */
}
.nav-title{
    color: var(--Dark-01, #131313);
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.baner-title{
    color: var(--Dark-01, #131313);
    text-align: center;
    font-family: Work Sans;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.baner-discribtion{
    color: var(--Dark-03, #727272);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.baner-head{
   margin: 0 auto;
    width: 862px;
    text-align: center;
}
.btn-primary{
    width: 180px;
    height: 64px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 8px;
    background: #FF900E;
}
.baner-img{
    margin-top: 25px;
    width: 100%;
}
@media screen and (max-width:576px) 
{
    header{
        padding: 20px;
    }
    nav{
        flex-direction:column ;
    }
    .baner-head{
        margin: 0 auto;
         width: auto;}
    nav ul a{
        font-size: 15px;
    }     
        
}
@media screen and (min-width:576px) and (max-width:960px){
    header{
        padding: 20px;}
    nav{
        flex-direction:column ;
        }
        .baner-head{
            margin: 0 auto;
             width: auto;}
}
.main{
    display: flex;
   margin: 0 auto;
    max-width: 1440px;
    align-items: center;
}
.main-title{
    width: 468px;
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.main-title1{
    color: var(--Dark-01, #131313);
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.main-title2{
    color: #FF900E;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
.main-discribtion{
   color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    
}
.team{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    border-radius: 5px;
    margin-top: 50px;
}
.main-content{
    padding: 0 70px 0px 70px;
}
    